<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Purple Admin</title>
    <!-- plugins:css -->
    <link rel="stylesheet" href="../../static/vendors/mdi/css/materialdesignicons.min.css">
    <link rel="stylesheet" href="../../static/vendors/css/vendor.bundle.base.css">
    <!-- endinject -->
    <!-- Plugin css for this page -->
    <!-- End plugin css for this page -->
    <!-- inject:css -->
    <!-- endinject -->
    <!-- Layout styles -->
    <link rel="stylesheet" href="../../static/css/style.css">
    <!-- End layout styles -->
    <link rel="shortcut icon" href="../../static/images/favicon.ico">
</head>
<body>
    <center>
    <h1>Contact Support</h1>
    <p>If you need assistance or have any questions, please feel free to reach out to our support team.</p>
    
    <h2>Contact Information</h2>
    <ul>
        <li><strong>Phone:</strong> 9769785721</li>
        <li><strong>Email:</strong> <a href="mailto:vedanthelwatkar@gmail.com">vedanthelwatkar@gmail.com</a></li>
    </ul>
    
    <h2>Support Hours</h2>
    <p>Our support team is available to assist you during the following hours:</p>
    <ul>
        <li>Monday to Friday: 9:00 AM - 6:00 PM</li>
        <li>Saturday and Sunday: Closed</li>
    </ul>
    
    <h2>Frequently Asked Questions</h2>
    <p>Here are some common questions and answers that may help you:</p>
    <ul>
        <li><strong>Question 1:</strong> What is the turnaround time for support requests?</li>
        <p><strong>Answer:</strong> We strive to respond to support requests within 24 hours.</p>
        
        <li><strong>Question 2:</strong> Can I track the status of my support ticket?</li>
        <p><strong>Answer:</strong> Yes, you will receive a unique ticket number when you submit a support request. You can use this ticket number to track the status of your request on our support portal.</p>
        
        <li><strong>Question 3:</strong> How can I provide feedback on my support experience?</li>
        <p><strong>Answer:</strong> We appreciate your feedback! You can share your feedback by replying to the support ticket or by contacting us directly via phone or email.</p>
    </ul>
        <!-- container-scroller -->
    <!-- plugins:js -->
    <script src="../../assets/vendors/js/vendor.bundle.base.js"></script>
    <!-- endinject -->
    <!-- Plugin js for this page -->
    <!-- End plugin js for this page -->
    <!-- inject:js -->
    <script src="../../assets/js/off-canvas.js"></script>
    <script src="../../assets/js/hoverable-collapse.js"></script>
    <script src="../../assets/js/misc.js"></script>
    <!-- endinject -->
    <!-- Custom js for this page -->
    <!-- End custom js for this page -->
    </center>
</body>
</html>