body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}
* [data-theme='dark']{
  background-color: #181818;
}
* [data-theme='light']{
  background-color: #f9f9f9;
}
.yt-iframe {
  width: 100%;
  height: 70vh;
}
.sc-dwfTHb{font-size:1.4vh;}
.sc-jHVeRl{box-sizing: border-box;
}
html::-webkit-scrollbar {
  width: 0.8vh;
  height:0.1vh
}

html::-webkit-scrollbar-thumb {
  background: #434343;
  box-shadow: inset 2px 2px 2px hsla(0,0%,100%,.25),inset -2px -2px 2px rgba(0,0,0,.25);
}

html::-webkit-scrollbar-track {
  background: linear-gradient(90deg,#434343,#434343 1px,#111 0,#111);
}

@media (max-width: 768px) {
  .yt-iframe {
    padding: 0vh 0.6vw;
    width: 95vw;
    height: 25vh;
  }

}
