.all-certs-container {
	display: flex;
	flex-wrap: wrap;
	align-items: stretch;
	padding-top: 30px;
	padding-bottom: 30px;
}

.all-certs-project {
	width: calc(100% / 3);
	box-sizing: border-box;
	padding: 10px;
	overflow:visible;
}

@media (max-width: 600px) {
	.all-certs-project {
		width: calc(100%);
	}
}
