* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 16px;
}

.footer {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: row wrap;
    padding: 50px;
    position: relative;
    top: 0;
    /* margin-top: 30px; */
    color: #9b9b9b;
    background-image: linear-gradient(to right, #223452, black);
}

.footer-left {
    margin-right: 1.25em;
    margin-bottom: 2em;
}

.footer-left img {
    width: 70%;

}

.footer ul {
    list-style: none;
    padding-left: 0;

}

.footer li {
    line-height: 2em;

}

.footer a {
    text-decoration: none;
}

.footer-right {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    flex-flow: row wrap;

}

.footer-right>* {
    flex: 1 50%;
    margin-right: 1.25em;
    margin-top: 1em;

}

.footer-box a {
    color: #999;
}

.footer-box a:hover {
    color: #02e602;
}

.footer-box li {
    margin-top: 2em;
}

.footer-bottom {
    text-align: center;
    color: #999;
    padding-top: 50px;
}

.footer-left p {
    padding-right: 20%;
    color: #999;
    padding-top: -30%;
    font-size: 18px;

}

.footer-social a {
    background: #364a62;
    width: 40px;
    height: 40px;
    display: inline-block;
    margin-right: 10px;
}

.footer-social a i {
    color: #e7f2f4;
    padding: 10px 12px;
    font-size: 20px;
}

@media screen and (min-width: 600px) {
    .footer-right>* {
        flex: 1;
    }

    .footer-left {
        flex: 1 0px;
    }

    .footer-right {
        flex: 2 0px;
    }
}

@media (max-width: 600px) {
    .footer {
        padding: 15px;
    }
}