* {
    margin: 0;
    padding: 0;
}

body {
    font-size: 10px;
}

.store-submenu-items {
    width: 10rem;
    position: absolute;
    list-style: none;
    text-align: center;
    transform: translateX(-40px);
    top: 60px;
    z-index: 999;
    /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); */

}

.store-submenu-items li {
    background: rgb(0, 217, 255);
    cursor: pointer;
}

.store-submenu-items li a:hover {
    background: rgb(2, 93, 109);
}

.selected {
    display: none;
}

.store-submenu-option {
    display: block;
    width: 100%;
    height: 100%;
    text-decoration: none;
    color: white;
    /* padding: 16px; */
}

.store-submenu-option:hover {
    background-color: yellow;

}