{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Blackcoffer</title>
    <!-- plugins:css -->

    <link rel="stylesheet" href="static/vendors/mdi/css/materialdesignicons.min.css">
    <link rel="stylesheet" href="static/vendors/css/vendor.bundle.base.css">
    <!-- endinject -->
    <!-- Plugin css for this page -->
    <!-- End plugin css for this page -->
    <!-- inject:css -->
    <!-- endinject -->
    <!-- Layout styles -->
    <link rel="stylesheet" href="static/css/style.css">
    <!-- End layout styles -->
    <link rel="shortcut icon" href="static/images/blackcoffer.ico" />
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  </head>
  <body>
      <!-- partial:partials/_navbar.html -->
      <nav class="navbar default-layout-navbar col-lg-12 col-12 p-0 fixed-top d-flex flex-row">
        <div class="text-center navbar-brand-wrapper d-flex align-items-center justify-content-center">
          <a class="navbar-brand brand-logo" href="{% url 'index' %}"><img src="static/images/bc.svg" alt="logo" /></a>
          <a class="navbar-brand brand-logo-mini" href="{% url 'index' %}"><img src="static/images/bc-mini.svg" alt="logo" /></a>
        </div>
        <div class="navbar-menu-wrapper d-flex align-items-stretch">
          <button class="navbar-toggler navbar-toggler align-self-center" type="button" data-toggle="minimize">
            <span class="mdi mdi-menu"></span>
          </button>
          <div class="search-field d-none d-md-block">
            <form class="d-flex align-items-center h-100" action="#">
              <div class="input-group">
                <div class="input-group-prepend bg-transparent">
                  <i class="input-group-text border-0 mdi mdi-magnify"></i>
                </div>
                <input type="text" class="form-control bg-transparent border-0" placeholder="Search projects">
              </div>
            </form>
          </div>
          <ul class="navbar-nav navbar-nav-right">
            <li class="nav-item nav-profile dropdown">
              <a class="nav-link dropdown-toggle" id="profileDropdown" href="#" data-bs-toggle="dropdown" aria-expanded="false">
                <div class="nav-profile-img">
                  <img src="static/images/faces/face1.jpg" alt="image">
                  <span class="availability-status online"></span>
                </div>
                <div class="nav-profile-text">
                  <p class="mb-1 text-black">{{ user.username }}</p>
                </div>
              </a>
              <div class="dropdown-menu navbar-dropdown" aria-labelledby="profileDropdown">
                <a class="dropdown-item" href="#">
                  <i class="mdi mdi-cached me-2 text-success"></i> Activity Log </a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="{% url 'logout' %}">
                  <i class="mdi mdi-logout me-2 text-primary"></i> Signout </a>
              </div>
            </li>
            <li class="nav-item d-none d-lg-block full-screen-link">
              <a class="nav-link">
                <i class="mdi mdi-fullscreen" id="fullscreen-button"></i>
              </a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link count-indicator dropdown-toggle" id="messageDropdown" href="#" data-bs-toggle="dropdown" aria-expanded="false">
                <i class="mdi mdi-email-outline"></i>
                <span class="count-symbol bg-warning"></span>
              </a>
              <div class="dropdown-menu dropdown-menu-right navbar-dropdown preview-list" aria-labelledby="messageDropdown">
                <h6 class="p-3 mb-0">Messages</h6>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item preview-item">
                  <div class="preview-thumbnail">
                    <img src="static/images/faces/face4.jpg" alt="image" class="profile-pic">
                  </div>
                  <div class="preview-item-content d-flex align-items-start flex-column justify-content-center">
                    <h6 class="preview-subject ellipsis mb-1 font-weight-normal">Mark send you a message</h6>
                    <p class="text-gray mb-0"> 1 Minutes ago </p>
                  </div>
                </a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item preview-item">
                  <div class="preview-thumbnail">
                    <img src="static/images/faces/face2.jpg" alt="image" class="profile-pic">
                  </div>
                  <div class="preview-item-content d-flex align-items-start flex-column justify-content-center">
                    <h6 class="preview-subject ellipsis mb-1 font-weight-normal">Cregh send you a message</h6>
                    <p class="text-gray mb-0"> 15 Minutes ago </p>
                  </div>
                </a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item preview-item">
                  <div class="preview-thumbnail">
                    <img src="static/images/faces/face3.jpg" alt="image" class="profile-pic">
                  </div>
                  <div class="preview-item-content d-flex align-items-start flex-column justify-content-center">
                    <h6 class="preview-subject ellipsis mb-1 font-weight-normal">Profile picture updated</h6>
                    <p class="text-gray mb-0"> 18 Minutes ago </p>
                  </div>
                </a>
                <div class="dropdown-divider"></div>
                <h6 class="p-3 mb-0 text-center">4 new messages</h6>
              </div>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link count-indicator dropdown-toggle" id="notificationDropdown" href="#" data-bs-toggle="dropdown">
                <i class="mdi mdi-bell-outline"></i>
                <span class="count-symbol bg-danger"></span>
              </a>
              <div class="dropdown-menu dropdown-menu-right navbar-dropdown preview-list" aria-labelledby="notificationDropdown">
                <h6 class="p-3 mb-0">Notifications</h6>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item preview-item">
                  <div class="preview-thumbnail">
                    <div class="preview-icon bg-success">
                      <i class="mdi mdi-calendar"></i>
                    </div>
                  </div>
                  <div class="preview-item-content d-flex align-items-start flex-column justify-content-center">
                    <h6 class="preview-subject font-weight-normal mb-1">Event today</h6>
                    <p class="text-gray ellipsis mb-0"> Just a reminder that you have an event today </p>
                  </div>
                </a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item preview-item">
                  <div class="preview-thumbnail">
                    <div class="preview-icon bg-warning">
                      <i class="mdi mdi-settings"></i>
                    </div>
                  </div>
                  <div class="preview-item-content d-flex align-items-start flex-column justify-content-center">
                    <h6 class="preview-subject font-weight-normal mb-1">Settings</h6>
                    <p class="text-gray ellipsis mb-0"> Update dashboard </p>
                  </div>
                </a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item preview-item">
                  <div class="preview-thumbnail">
                    <div class="preview-icon bg-info">
                      <i class="mdi mdi-link-variant"></i>
                    </div>
                  </div>
                  <div class="preview-item-content d-flex align-items-start flex-column justify-content-center">
                    <h6 class="preview-subject font-weight-normal mb-1">Launch Admin</h6>
                    <p class="text-gray ellipsis mb-0"> New admin wow! </p>
                  </div>
                </a>
                <div class="dropdown-divider"></div>
                <h6 class="p-3 mb-0 text-center">See all notifications</h6>
              </div>
            </li>
            <li class="nav-item nav-logout d-none d-lg-block">
              <a class="nav-link" href="{% url 'logout' %}">
                <i class="mdi mdi-power"></i>
              </a>
            </li>
            <li class="nav-item nav-settings d-none d-lg-block">
              <a class="nav-link" href="#">
                <i class="mdi mdi-format-line-spacing"></i>
              </a>
            </li>
          </ul>
          <button class="navbar-toggler navbar-toggler-right d-lg-none align-self-center" type="button" data-toggle="offcanvas">
            <span class="mdi mdi-menu"></span>
          </button>
        </div>
      </nav>
      <!-- partial -->
      <div class="container-fluid page-body-wrapper">
        <!-- partial:partials/_sidebar.html -->
        <nav class="sidebar sidebar-offcanvas" id="sidebar">
          <ul class="nav">
            <li class="nav-item nav-profile">
              <a href="#" class="nav-link">
                <div class="nav-profile-image">
                  <img src="static/images/faces/face1.jpg" alt="profile">
                  <span class="login-status online"></span>
                  <!--change to offline or busy as needed-->
                </div>
                <div class="nav-profile-text d-flex flex-column">
                  <span class="font-weight-bold mb-2">{{ full_name }}</span>
                </div>
                <i class="mdi mdi-bookmark-check text-success nav-profile-badge"></i>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'index' %}">
                <span class="menu-title">Dashboard</span>
                <i class="mdi mdi-home menu-icon"></i>
              </a>
            </li>
            
            <li class="nav-item">
              <a class="nav-link" href="{% url 'login' %}">
                <span class="menu-title">Login</span>
                <i class="mdi mdi-login menu-icon"></i>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'register' %}">
                <span class="menu-title">Register</span>
                <i class="mdi mdi-account-plus menu-icon"></i>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'support' %}">
                <span class="menu-title">Support</span>
                <i class="mdi mdi-headset menu-icon"></i>
              </a>
            </li>
            
          </ul>
        </nav>
        <!-- partial -->
        <div class="main-panel">
          <div class="content-wrapper">
            <div class="row">
              <div class="col-lg-6 grid-margin stretch-card">
                <div class="card">
                  <div class="card-body">
                    <h4 class="card-title">Bar chart</h4>
                    <p class="card-description"> for <code>Intensity</code>
                    <canvas id="barChart" style="height:230px"></canvas>
                  </div>
                </div>
              </div>
              <div class="col-lg-6 grid-margin stretch-card">
                <div class="card">
                  <div class="card-body">
                    <h4 class="card-title">Pie chart</h4>
                    <p class="card-description"> for <code>Likelihood</code>
                    <canvas id="pieChart" style="height:250px"></canvas>
                  </div>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-lg-6 grid-margin stretch-card">
                <div class="card">
                  <div class="card-body">
                    <h4 class="card-title">Scatter chart</h4>
                    <p class="card-description"> for <code>Relevance</code>
                    <canvas id="scatterChart" style="height:250px"></canvas>
                  </div>
                </div>
              </div>
              <div class="col-lg-6 grid-margin stretch-card">
                <div class="card">
                  <div class="card-body">
                    <h4 class="card-title">Line chart</h4>
                    <p class="card-description"> for <code>Topic</code>
                    <canvas id="lineChart" style="height:250px"></canvas>
                  </div>
                </div>
              </div>
            </div>
            
          <div class="row">
            <div class="col-lg-6 grid-margin stretch-card">
              <div class="card">
                <div class="card-body">
                  <h4 class="card-title">Bar chart</h4>
                  <p class="card-description"> for <code>Region</code>
                  <canvas id="stackedBarChart" style="height:250px;"></canvas>
                </div>
              </div>
            </div>
            
            <div class="col-lg-6 grid-margin stretch-card">
              <div class="card">
                <div class="card-body">
                  <div class="table-container1">
                    <h4 class="card-title">Table</h4>
                    <p class="card-description"> for <code>Timeframe - Location</code></p>
                    <div class="input-group mb-3">
                      <input type="text" class="form-control" placeholder="Search" id="searchInput1">
                      <div class="input-group-append">
                        <button class="btn btn-primary" type="button" id="searchButton1">Search</button>
                      </div>
                    </div>
                    <table class="table table-hover" style="max-height: 250px; overflow-y: scroll;">
                      <thead>
                        <tr>
                          <th>Sr. No</th>
                          <th>Start Year</th>
                          <th>End Year</th>
                          <th>Country</th>
                        </tr>
                      </thead>
                      <tbody>
                        <!-- Replace the sample data with your actual data -->
                        {% for item in data %}
                        <tr>
                          <td>{{ item.0 }}</td>
                          <td>{{ item.7 }}</td>
                          <td>{{ item.6 }}</td>
                          <td style="white-space: normal;">{{ item.8 }}</td>
                        </tr>
                        {% endfor %}
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
            
            <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
            <script>
              $(document).ready(function() {
                // Search button click event for Table 1
                $('#searchButton1').click(function() {
                  searchTable1();
                });
            
                // Enter key press event in the search input for Table 1
                $('#searchInput1').keypress(function(event) {
                  if (event.keyCode === 13) {
                    event.preventDefault();
                    searchTable1();
                  }
                });
            
                // Search function for Table 1
                function searchTable1() {
                  var searchText = $('#searchInput1').val().toLowerCase();
                  $('div.table-container1 table tbody tr').each(function() {
                    var rowText = $(this).text().toLowerCase();
                    if (rowText.includes(searchText)) {
                      $(this).show();
                    } else {
                      $(this).hide();
                    }
                  });
                }
              });
            </script>
            
            <div class="row">
              <div class="col-lg-12 grid-margin stretch-card">
                <div class="card">
                  <div class="card-body">
                    <div class="table-container2">
                      <h4 class="card-title">Table</h4>
                      <p class="card-description"> for <code>Description - Date - Field</code></p>
                      <div class="input-group mb-3">
                        <input type="text" class="form-control" placeholder="Search" id="searchInput2">
                        <div class="input-group-append">
                          <button class="btn btn-primary" type="button" id="searchButton2">Search</button>
                        </div>
                      </div>
                      <table class="table table-striped" style="max-height: 250px; overflow-y: scroll;">
                        <thead>
                          <tr>
                            <th> Sr.No </th>
                            <th> Title </th>
                            <th> Added </th>
                            <th> Sector </th>
                            <th> Insight </th>
                          </tr>
                        </thead>
                        <tbody>
                          {% for item in data %}
                          <tr>
                            <td style="white-space: normal;">{{ item.0 }}</td>
                            <td style="white-space: normal;">{{ item.9 }}</td>
                            <td style="white-space: normal;">{{ item.10|date:"Y-m-d" }}</td>
                            <td style="white-space: normal;">{{ item.11 }}</td>
                            <td style="white-space: normal;">{{ item.12 }}</td>
                          </tr>
                          {% endfor %}
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            
            <script>
              $(document).ready(function() {
                // Search button click event for Table 2
                $('#searchButton2').click(function() {
                  searchTable2();
                });
            
                // Enter key press event in the search input for Table 2
                $('#searchInput2').keypress(function(event) {
                  if (event.keyCode === 13) {
                    event.preventDefault();
                    searchTable2();
                  }
                });
            
                // Search function for Table 2
                function searchTable2() {
                  var searchText = $('#searchInput2').val().toLowerCase();
                  $('.table-container2 table tbody tr').each(function() {
                    var rowText = $(this).text().toLowerCase();
                    if (rowText.includes(searchText)) {
                      $(this).show();
                    } else {
                      $(this).hide();
                    }
                  });
                }
              });
            </script>
            
            
      <div class="col-lg-12 grid-margin stretch-card">
        <div class="card">
          <div class="card-body">
            <div class="table-container3">
            <h4 class="card-title">Filter Table</h4>
            <div class="input-group mb-3">
              <input type="text" class="form-control" placeholder="Search" id="searchInput3">
              <div class="input-group-append">
                <button class="btn btn-primary" type="button" id="searchButton3">Search</button>
              </div>
            </div>
            <p class="card-description"> for <code>Data Insights</code>
            </p>
            <table class="table table-bordered">
              <thead>
                <tr>
                  <th> Sr.No </th>
                  <th> Pestle </th>
                  <th> Source </th>
                  <th> Topic </th>
                  <th> Region </th>
                </tr>
              </thead>
              <tbody>
                {% for item in data %}
                  <tr>
                    <td  style="white-space: normal;">{{ item.0 }}</td>
                    <td  style="white-space: normal;">{{ item.13 }}</td>
                    <td  style="white-space: normal;">{{ item.14 }}</td>
                    <td  style="white-space: normal;">{{ item.4 }}</td>
                    <td  style="white-space: normal;">{{ item.5 }}</td>
                  </tr>
                  {% endfor %}
              </tbody>
            </table>
          </div>
          </div>
        </div>
      </div>
      <script>
        $(document).ready(function() {
          // Search button click event for Table 3
          $('#searchButton3').click(function() {
            searchTable3();
          });
      
          // Enter key press event in the search input for Table 3
          $('#searchInput3').keypress(function(event) {
            if (event.keyCode === 13) {
              event.preventDefault();
              searchTable3();
            }
          });
      
          // Search function for Table 3
          function searchTable3() {
            var searchText = $('#searchInput3').val().toLowerCase();
            $('.table-container3 table tbody tr').each(function() {
              var rowText = $(this).text().toLowerCase();
              if (rowText.includes(searchText)) {
                $(this).show();
              } else {
                $(this).hide();
              }
            });
          }
        });
      </script>
      
      
      
      

      <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
      <script>
        var topic_labels = JSON.parse('{{ topic_labels_json|escapejs }}');
        var topic_dataValues = JSON.parse('{{ topic_data_values_json|escapejs }}');
        var intensity_labels = JSON.parse('{{ intensity_labels_json|escapejs }}');
        var intensity_dataValues = JSON.parse('{{ intensity_data_values_json|escapejs }}');
        var likelihood_labels = JSON.parse('{{ likelihood_labels_json|escapejs }}');
        var likelihood_dataValues = JSON.parse('{{ likelihood_data_values_json|escapejs }}');
        var relevance_labels = JSON.parse('{{ relevance_labels_json|escapejs }}');
        var relevance_dataValues = JSON.parse('{{ relevance_data_values_json|escapejs }}');
        var region_labels = JSON.parse('{{ region_labels_json|escapejs }}');
        var region_dataValues = JSON.parse('{{ region_data_values_json|escapejs }}');
        var end_year_labels = JSON.parse('{{ end_year_labels_json|escapejs }}');
        var end_year_dataValues = JSON.parse('{{ end_year_data_values_json|escapejs }}');
        var start_year_labels = JSON.parse('{{ start_year_labels_json|escapejs }}');
        var start_year_dataValues = JSON.parse('{{ start_year_data_values_json|escapejs }}');
        var country_labels = JSON.parse('{{ country_labels_json|escapejs }}');
        var country_dataValues = JSON.parse('{{ country_data_values_json|escapejs }}');
      </script>
      
          <!-- content-wrapper ends -->
          <!-- partial:partials/_footer.html -->
          <!-- partial -->
        </div>
        <!-- main-panel ends -->
      </div>
      <!-- page-body-wrapper ends -->
    </div>
    <!-- container-scroller -->
    <!-- plugins:js -->
    <script src="static/vendors/js/vendor.bundle.base.js"></script>
    <!-- endinject -->
    <!-- Plugin js for this page -->
    <script src="static/vendors/chart.js/Chart.min.js"></script>
    <script src="static/js/jquery.cookie.js" type="text/javascript"></script>
    <!-- End plugin js for this page -->
    <!-- inject:js -->
    <script src="static/js/off-canvas.js"></script>
    <script src="static/js/hoverable-collapse.js"></script>
    <script src="static/js/misc.js"></script>
    <!-- endinject -->
    <!-- Custom js for this page -->
    <script src="../../static/js/chart.js"></script>
    <!-- End custom js for this page -->
  </body>
</html>