.all-intern-container {
	display: flex;
	flex-wrap: wrap;
	align-items: stretch;
	padding-bottom: 30px;
	margin-left: -35px;
	margin-right: -35px;
}

.all-intern-project {
	width: calc(100% / 3);
	box-sizing: border-box;
	padding: 20px;
	overflow: hidden;
}

@media (max-width: 600px) {
	.all-intern-project {
		width: calc(100% / 2);
	}
}
