@import url("https://fonts.googleapis.com/css2?family=Heebo:wght@300&family=Roboto:wght@500&display=swap");
@import "./data/styles.css";

body {
	margin: 0;
	font-family: var(--primary-font);
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
		monospace;
}
html::-webkit-scrollbar {
	width: 0.8vh;
	height:0.1vh
  }
  
  html::-webkit-scrollbar-thumb {
	background: #434343;
	box-shadow: inset 2px 2px 2px hsla(0,0%,100%,.25),inset -2px -2px 2px rgba(0,0,0,.25);
  }
  
  html::-webkit-scrollbar-track {
	background: linear-gradient(90deg,#434343,#434343 1px,#111 0,#111);
  }
  